<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-csale=1.0">
    <title>Thank You</title>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css')}}">
</head>
<body class="thankyoupage">
    <header>
        Thank You!!
    </header>
    <div class="content-box">
        <h1>Thank You, {{ name }}!</h1>
        <p>You message has been Saved.</p>
        <a href="/"> Go back to the form </a>
        <br>
        <a href="/admin"> Go to Admin Page </a>
    </div>
    <footer>
        <a href="https://www.instagram.com/quirky_aesthete" target="_blank" rel="noopener noreferrer"> Instagram </a>
        Arun - Event Management App
        <a href="https://www.linkedin.com/in/arun-prakash3" target="_blank" rel="noopener noreferrer">linkedin </a>
    </footer>
</body>
</html>